:root {
  --dark-bg: #404258;
  --dark-text: #fff;
  --dark-border: #6B728E;
  --dark-hover: #6B728E;
  --dark-fill: #474E68;

  --light-bg: #FEFCF3;
  --light-text: #000;
  --light-border: #DBA39A;
  --light-hover: #DBA39A;
  --light-fill: #b9b9b9;

  /*  for .top class*/
  --offset: 450px;
  --fade: 80px;
}

/* theme colors */
.dark {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

.light {
  background-color: var(--light-bg);
  color: var(--light-text);
}

/* theme buttons */
.dark #theme-button img {
  border: 3px solid var(--dark-border);
  content: url("https://cdn-icons-png.flaticon.com/512/1312/1312372.png");
}

.light #theme-button img {
  border: 3px solid var(--light-border);
  content: url("https://cdn-icons-png.flaticon.com/512/1312/1312348.png");
}

/* Profile Picture Colors */
.dark #profile-picture {
  border: 5px solid var(--dark-border);
}

.light #profile-picture {
  border: 5px solid var(--light-border);
}

.dark.pphidden-text {
  color: var(--dark-text);
}

.light .pphidden-text {
  color: var(--light-text);
}

/* Nav Bar colors */
.dark nav {
  background-color: var(--dark-fill);
  border: 3px solid var(--dark-border);
}

.light nav {
  background-color: var(--light-fill);
  border: 3px solid var(--light-border);
}

.dark nav a:hover {
  background-color: var(--dark-hover);
}

.light nav a:hover {
  background-color: var(--light-hover);

}

.dark nav a {
  color: var(--dark-text);
}

.light nav a {
  color: var(--light-text);
}

.dark .top {
  color: var(--dark-text);
  background-color: var(--dark-fill);
  border: 3px solid var(--dark-border);

}

.light .top {
  color: var(--light-text);
  background-color: var(--light-fill);
  border: 3px solid var(--light-border);

}

.dark .top::before {
  color: var(--dark-text);

  border-top: 5px solid var(--dark-border);
  border-right: 5px solid var(--dark-border);
}

.light .top::before {
  color: var(--light-text);

  border-top: 5px solid var(--light-border);
  border-right: 5px solid var(--light-border);
}

/* About me colors */
.dark section#about-me {
  background-color: var(--dark-fill);
  border: 3px solid var(--dark-border);
}

.dark .top:hover {
  background-color: var(--dark-hover);
}

.light .top:hover {
  background-color: var(--light-hover);
}

.light section#about-me {
  background-color: var(--light-fill);
  border: 3px solid var(--light-border);
}

/* Project me colors */
.dark .projcard {
  background-color: var(--dark-fill);
  border: 3px solid var(--dark-border);
}

.light .projcard {
  background-color: var(--light-fill);
  border: 3px solid var(--light-border);
}

.dark .projcard img {
  border: 3px solid var(--dark-border);
}

.light .projcard img {
  border: 3px solid var(--light-border);
}

.dark .projcard video {
  border: 3px solid var(--dark-border);
}

.light .projcard video {
  border: 3px solid var(--light-border);
}

.dark #model-viewer {
  border: 3px solid var(--dark-border);
}

.light #model-viewer {
  border: 3px solid var(--light-border);
}

/* Social Media Card colors */
.dark .mcard {
  background-color: var(--dark-fill);
  border: 3px solid var(--dark-border);
}

.light .mcard {
  background-color: var(--light-fill);
  border: 3px solid var(--light-border);
}

.dark .mcard:hover {
  background-color: var(--dark-hover);
}

.light .mcard:hover {
  background-color: var(--light-hover);
}

.dark .mcard a {
  color: var(--dark-text);
}

.light .mcard a {
  color: var(--light-text);
}

.dark .mcard a {
  color: var(--dark-text);
}

.light .mcard a {
  color: var(--light-text);
}

/* theme colors end */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-template-columns: auto 0px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

#theme-button {
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 10px;
  left: 1px;
  display: block;
  border: none;
  background-color: transparent;
  position: absolute;
  
}

#theme-button img {
  border-radius: 50%;
  transition: url 0.3s ease;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

#profile-picture {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  margin-bottom: -10px;
}

#profile-picture:hover {
  transform: translateY(-20px);
}

.profile-picture-container {
  position: relative;
  text-align: center;
  margin: auto;
}

.pphidden-text {
  font-size: 30px;
  opacity: 0;
  transition: opacity 0.15s ease;
  margin-bottom: 20px;
}

#profile-picture:hover+.pphidden-text {
  opacity: 1;
  animation: slide-text 1s ease forwards;
}

nav {
  margin: auto 15%;
  border-radius: 25px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 15px;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  /* removes bullet points from the list */
  display: flex;
  justify-content: center;
  align-items: center;
  /* makes the list items appear in a row */
  /* evenly spaces the list items */
  /* removes margin from the list */
  font-size: 18px;
}

nav a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  /* removes underline from the links */
  padding: 10px;
  /* adds padding to the links */
  border-radius: 25px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1000px));
  transition: font-size .5s, background-color .5s;
}

nav a:hover {
  font-size: 25px;
}

section {
  margin-top: 5%;
  margin-bottom: 5%;
}

section#about-me {
  transition: background-color 0.3s ease;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 25px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  text-align: center;
}

section#projects {
  text-align: center;
}

#model-viewer {
  height: 1px;
  width: 1px;
  transition: transform 0.3s ease;
  border-radius: 25px;
  left: 100px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  display: block;
}

.emi_bot_container {
  width: 100%;
}

.emi_bot_container img {
  float: left;
  width: 50%;
  display: block;
}

.emi_bot_container p {
  float: right;
  width: 64%;
  display: block;
  text-align: left;
}

#emi_bot {
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.projcard {
  transition: background-color 0.3s ease;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 25px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projcard p {
  margin-bottom: 25px;
  text-align: left;

}

.projcard img {
  width: 30%;
  transition: transform 0.3s ease;
  border-radius: 25px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.projcard video {
  width: 100%;
  transition: transform 0.3s ease;
  border-radius: 25px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

section#social-media {
  text-align: center;
}

section h2 {
  font-size: 32px;
  margin: 0 0 20px 0;
}

section p {
  font-size: 18px;
  line-height: 1.5;
}

.social-media-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mcard {
  transition: background-color 0.3s ease;
  flex: 0 0 30%;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.mcard img {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.mcard:hover img {
  transform: scale(1.5);
}

.mcard h3 {
  margin: 0 0 10px 0;
}

.mcard a {
  display: block;
  text-decoration: none;
}

.container-top {
  display: flex;
  align-items: flex-end;
  width: 60px;
  justify-self: end;
  justify-content: flex-end;
  -webkit-mask: linear-gradient(#0000 calc(100vh + var(--offset)), #000 calc(100vh + var(--offset) + var(--fade)));
}

.top {

  position: sticky;
  bottom: 20px;
  margin-right: 10px;
  /* visual styling */
  width: 100%;
  aspect-ratio: 1;
  border-radius: 10px;
}

.top:before {
  content: "";
  position: absolute;
  inset: 30%;
  transform: translateY(20%) rotate(-45deg);
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
}