/* theme colors */
body.light {
  background-color: #FEFCF3;
  color: #000;
}
body.dark {
  background-color: #404258;
  color: #fff;
}

body.dark section#about-me {
  background-color: #474E68;
  border: 3px solid #6B728E;
}
body.light section#about-me {
  background-color: #b9b9b9;
  border: 3px solid #DBA39A;
}
body.dark #theme-button img {
  border: 3px solid #6B728E;
  content: url("https://cdn-icons-png.flaticon.com/512/1312/1312372.png");
}
body.light #theme-button img {
  border: 3px solid #DBA39A;
  content: url("https://cdn-icons-png.flaticon.com/512/1312/1312348.png");
}

body.dark .card {
  background-color: #474E68;
  border: 3px solid #6B728E;
}
body.light .card {
  background-color: #b9b9b9;
  border: 3px solid #DBA39A;
}
body.dark .card:hover {
  background-color: #6B728E;
}
body.light .card:hover {
  background-color: #DBA39A;
}
body.dark .card a {
  color: white;
}
body.light .card a {
  color: black;
}
body.dark #profile-picture {
  border: 5px solid #6B728E;
}
body.light #profile-picture {
  border: 5px solid #DBA39A;
}
body.dark.hidden-text {
  color: white;
}
body.light .hidden-text {
  color: black;
}
/* theme colors end */

#theme-button {
  margin-top: 10px;
  margin-bottom: 30px;
  display: block;
  display: block;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.theme-button-container {
  position: relative;
}

#theme-button img {
  border-radius: 50%;
  transition: url 0.3s ease;
  width: 70px;
  height: 70px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  margin-bottom: 40px;
}

section#about-me {
  transition: background-color 0.3s ease;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 25px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  text-align: center;
}

section#social-media {
  text-align: center;
}

section h2 {
  font-size: 32px;
  margin: 0 0 20px 0;
}

section p {
  font-size: 18px;
  line-height: 1.5;
}

.social-media-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  transition: background-color 0.3s ease;
  flex: 0 0 30%;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.card img {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.5);
}

.card h3 {
  margin: 0 0 10px 0;
}

.card a {
  display: block;
  text-decoration: none;
}

#profile-picture {
  transition: background-color 0.3s ease;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  transition: transform 0.3s ease;
}

#profile-picture:hover {
  transform: translateY(-20px);
}

.profile-picture-container {
  position: relative;
}

.hidden-text {
  font-size: 30px;
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  opacity: 0;
  transition: opacity 0.15s ease;
}

#profile-picture:hover + .hidden-text {
  opacity: 1;
  animation: slide-text 0.5s ease forwards;
}
